<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazon</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <script
      src="https://kit.fontawesome.com/544876a7ca.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <form>
        <input type="text" placeholder="Buscar productos, marcas y más…" />
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <div class="header-listas">
        <img 
        class="img-logo"
          src="../public/images/Amazon-Logo-White-PNG-Image.png"
          alt="Logo de Amazon"
        />
        <ul>
          <li class="listas_de_encabezado"><a class="link-categorias" href="#categorias">Categorias</a></li>
          <li class="listas_de_encabezado"><a class="link-categorias" href="#oferta-del-dia">Ofertas del Dia</a></li>
          <li class="listas_de_encabezado"><a class="link-categorias" href="#marcas-registradas">Marcas Registradas</a></li>
          <li class="listas_de_encabezado"><a href="">Vender</a></li>
          <li class="listas_de_encabezado"><a href="">Ayuda</a></li>
        </ul>
      </div>
    </header>
    
    <main>
      <h2 class="h2-categorias" id="categorias">Categorias</h2>
      <section class="section-categorias">
      <article>
        <p class="p-categorias">Computadoras</p>

        <img
          class="img-articulo"
          src="../public/images/pc-gamer.webp"
          alt="imagen de una PC Gamer"
        />
        <div class="descripcion-articulo">
          <h3>Comprar ahora por:</h3>
          <p class="precio">$2,999</p>
        </div>
      </article>

      <article>
        <p class="p-categorias">Sillas De Escritorio</p>
        <img
          class="img-articulo"
          src="../public/images/silla-gamer.webp"
          alt="imagen de una Silla gamer"
        />
        <div class="descripcion-articulo">
          <h3>Comprar ahora por:</h3>
          <p class="precio">$329</p>
        </div>
      </article>

      <article>
        <p class="p-categorias">Telefonos</p>
        <img
          class="img-articulo"
          src="../public/images/telf-iphone.webp"
          alt="imagen de un telefono iPhone 14 PRO MAX"
        />
        <div class="descripcion-articulo">
          <h3>Comprar ahora por:</h3>
          <p class="precio">$891,65</p>
        </div>
      </article>

    </section>
    <h2 class="h2-categorias" id="oferta-del-dia">Oferta Del Dia</h2>
    <section class="section-categorias">
    <article>
      <img
        class="img-articulo"
        src="../public/images/audifono-ofertadeldia.webp"
        alt="imagen de una audifono gaming"
      />
      <div class="descripcion-articulo">
        <h3>Auriculares, Audífono, Gaming Gamer G2000 Ps4/xbox/switch/pc</h3>
        <p class="oferta">70$</p>
        <p class="precio">50$</p>
      </div>
    </article>

    <article>
      <img
        class="img-articulo"
        src="../public/images/firetv-ofertadeldia.webp"
        alt="imagen de un Fire TV"
      />
      <div class="descripcion-articulo">
        <h3>Amazon Fire Tv Stick 3 Era Gen Control Tv Netflix Hbo Y Más</h3>
        <p class="oferta">40$</p>
        <p class="precio">38$</p>
      </div>
    </article>

    <article>
      <img
        class="img-articulo"
        src="../public/images/rauter-ofertadeldia.webp"
        alt="imagen de un Rauter"
      />
      <div class="descripcion-articulo">
        <h3>Router Mercusys Inalambrico Mr50g Ac1900 Dual Band Gigabit 6</h3>
        <p class="oferta">60$</p>
        <p class="precio">50$</p>
      </div>
    </article>
  </section>

  <h2 class="h2-categorias" id="marcas-registradas">Marcas Registradas</h2>
      <section class="section-categorias">
      <article> 
        <p class="p-categorias">Adidas</p>
        <a class="paginas-articulo" href="https://www.adidas.com/us" target="_blank">
        <img
          class="img-articulo"
          src="../public/images/adidas.png"
          alt="imagen de Adidas"
        />
      </a>
        <div class="descripcion-articulo">
          <h3>Visitanos</h3>
        </div>
      
      </article>

      <article>
        <p class="p-categorias">JBL</p>
        <a class="paginas-articulo" href="https://www.jbl.com/country-selector?geoip=false" target="_blank">
        <img
          class="img-articulo"
          src="../public/images/jbl.jpg"
          alt="imagen de JBL"
        />
        <div class="descripcion-articulo">
          <h3>Visitanos</h3>
        </a>
        </div>
      </article>

      <article>
        <p class="p-categorias">Samsung</p>
        <a class="paginas-articulo" href="https://www.samsung.com/latin/" target="_blank">
        <img
          class="img-articulo"
          src="../public/images/Samsung_logo_blue.png"
          alt="imagen de Samsung"
        />
      </a>
        <div class="descripcion-articulo">
          <h3>Visitanos</h3>
        </div>
      
      </article>
    </section>
    
    </main>
    <footer>
      <div class="footer-derechos">
        <img
          id="logo-footer"
          src="../public/images/Amazon-Logo-White-PNG-Image.png"
          alt=""
        />
        <ul>
          <li class="listas_de_encabezado">Contactos</li>
          <li class="listas_de_encabezado">Redes sociales</li>
          <li class="listas_de_encabezado">Condiciones de uso</li>
        </ul>
      </div>

      <p class="derechos">© 1996-2024 Amazon.com, Inc. o sus afiliados</p>
    </footer>
  </body>
</html>
