<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Amazon</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <header>
    <img src="../public/images/amazon2.png" alt="Logo de Amazon">
    <ul>
      <li class="listas_de_encabezado">Ofertas del dia</li>
      <li class="listas_de_encabezado">Productos</li>
      <li class="listas_de_encabezado">Cantactos</li>
      <li class="listas_de_encabezado">vender</li>
    </ul>
    <form>
      <input type="text" placeholder="Buscar">
    </form>
    
    
  </header>

  <main>

    <article>
      <img src="../public/images/pc-gamer.webp" alt="imagen de una PC Gamer">
      <h2>
        Lenovo Legion Tower 7i
      </h2>
      <p>$2,999</p>
    </article>

    <article>
      <img src="../public/images/silla-gamer.webp" alt="imagen de una Silla gamer">
      <h2>
        Silla gaming Corsair T3 Rush
      </h2>
      <p>$329</p>
    </article>

    <article>
      <img src="../public/images/telf-iphone.webp" alt="imagen de un telefono iPhone 14 PRO MAX">
      <h2>
        Telefono iPhone 14 Pro Max 
      </h2>
      <p>$891,65</p>
    </article>
    
  </main>
  <footer>
    <img src="../public/images/amazon2.png" alt="">
    <ul>
      <li>Contactos</li>
      <li>Redes sociales</li>
      <li>Condiciones de uso</li>
    </ul>
    <p>© 1996-2024 Amazon.com, Inc. o sus afiliados</p>
  </footer>


</body>
</html>